/*
 * @Author      : 吴晓斌
 * @Date        : 2020-09-11 15:48:25
 * @LastEditTime: 2020-09-11 15:50:36
 * @Description : CSS出口文件
 */

@import './variables.scss';
@import './mixin.scss';
@import './transition.scss';

/* 样式重置 */
html,
body {
  box-sizing: border-box; // 全局使用IE盒模型，更好控制
  margin: 0;
  padding: 0;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

a:focus,
a:active {
  outline: none;
}

a,
a:focus,
a:hover {
  cursor: pointer;
  color: inherit;
  text-decoration: none;
}

div:focus {
  outline: none;
}

/* ----------------------
 * 下面可以写一些全局的样式
 * ----------------------
 */
